:root {
  /* colors */

  --bg-color: ;
  --a-color: #000;
  --f-primary: #000;
  --nav-tech-bg: #1f385d;
  --a-hover: #6f94cc;

  /* fonts */
  --d-size: 16px;
  --f-family: 'Poppins', sans-serif;
  --header-size: 3.4rem;
  --h2-size: 3rem;
  --p-size: 1rem;
  --w-light: 200;
  --w-regular: 400;
  --w-bold: 700;

  /* screen-widhts */
  --xs-screen: 320px;
  --s-screen: 768px;
  --m-screen: 1024px;
  --x-screen: 1440px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: var(--d-size) var(--f-family);
}

a {
  text-decoration: none;
  color: inherit;
}

/* technology header */
.header {
  height: calc(30vh + 15vh);
  background: fixed url('/Zs/src/image/pexels-francesco-ungaro-998641.jpg')
    no-repeat center;
  background-size: cover;
}

/* home header */
.home.header {
  height: calc(100vh);
  background: url('/Zs/src/image/pexels-pixabay-39561.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-areas:
    'nav'
    'header-title '
    'header-subtitle ';
}

.home.header::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(9, 19, 43, 1) 0%,
    rgba(33, 76, 169, 1) 100%
  );
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  opacity: 0.4;
}

/* header */

header.scroll-header > .nav:not(.active) {
  background-color: var(--f-primary);
  height: 5vh;
  transition: height 0.5s ease;
}

.nav {
  position: fixed;
  height: 15vh;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  width: calc(--s-screen);
  color: #fff;
  z-index: 2;
  grid-area: nav;
  font-weight: var(--w-bold);
}
/* 
.nav.tech {
  background-color: var(--nav-tech-bg);
} */

.nav-home {
  display: none;
}

.nav-menu.active,
.nav.active {
  left: 0;
  background-color: #fff;
  color: var(--f-primary);
}

.nav-list,
.home-link {
  font-size: 0.9rem;
  font-weight: var(--w-bold);
  transition: color 0.3s ease-out;
}

.nav-list:hover,
.home-link:hover {
  color: var(--a-hover);
}

.nav-list.active {
  color: var(--a-hover);
}

.mobile-bar {
  display: block;
  cursor: pointer;
  z-index: 1;
  text-align: center;
}

.nav-home {
  flex: 1 1;
  text-align: center;
}

.header-title {
  color: #fff;
  text-align: center;
  z-index: 1;
  grid-area: header-title;
  font-size: var(--header-size);
}

.header-subtitle {
  color: #fff;
  text-align: center;
  z-index: 1;
  grid-area: header-subtitle;
}

/* sections */

.section {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}

.section-title {
  font-size: var(--h2-size);
  padding-bottom: 3rem;
}

.section-container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
}

.section-description-p {
  line-height: 1.5;
  font-size: var(--p-size);
}

.section-img > img {
  max-width: 100%;
  vertical-align: center;
}

/* .tech-title {
  width: calc(100vh - 2rem);
   grid-area: title; 
} */
/* mobile menu  */

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px auto;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.bar.active:nth-child(1) {
  background-color: #000;
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.bar.active:nth-child(2) {
  opacity: 0;
}

.bar.active:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
  background-color: #000;
}

@media (max-width: 1024px) {
  .nav-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    left: -100%;
    top: 15vh;
    height: calc(100% - 15vh);
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    gap: 3rem;
    list-style: none;
  }
}

@media (min-width: 1024px) {
  .nav {
    position: relative;
  }
  .nav-menu {
    position: relative;
    display: flex;
    justify-self: flex-end;
    gap: 1.2rem;
    list-style-type: none;
    flex: 1 1;
  }

  .mobile-bar {
    display: none;
  }
  .nav .logo {
    flex: 1 1;
    text-align: center;
  }
  .nav-home {
    display: block;
  }
  .nav-menu .nav-item:nth-child(1) {
    display: none;
  }

  .section-description {
    padding: 0 14%;
    flex: 1 1;
  }
  .section-img {
    flex: 1 1;
    place-self: center;
    width: 560px;
  }
}

@media only screen and (min-width: 1439px) {
  .section-container {
    max-width: 1410px;
  }
}
